---
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Varázskéz Kozmezika</title>
    <meta name="description" content="Varázskéz Kozmetika">
    <meta name="author" content="Adam Varga">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" href="responsive-nav.css">
    <script src="responsive-nav.js"></script>
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include header.html %}
    {% include content.html %}
    {% include footer.html %}
  </body>
</html>
