---
layout: compress
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Varázskéz Kozmetika</title>
        <meta name="description" content="Varázskéz Kozmetika">
        <meta name="author" content="Adam Varga">
        <link href="/assets/css/varazskez.css" rel="stylesheet" type="text/css">
        <script src="/assets/js/varazskez.js"></script>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include header.html %}
        {% include content.html %}
        {% include footer.html %}
    </body>
</html>
