.main-header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: transform .2s ease;
    height: $height-header;
    transform: translateY(20px);
    z-index: 10;
    .logo-container {
        position: relative;
        z-index: 1;
    }
    .varazskez-logo {
        width: $logo-size-large;
        height: $logo-size-large;
        background: url("./img/logo.png") no-repeat center center;
        background-size: 100%;
        animation: rotate 150s linear infinite;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        display: none;
    }
    .site-nav {
        text-align: center;
        transition: all .2s ease;
        position: absolute;
        bottom: 0;
        width: 100%;
        .site-nav-inner {
            max-width: 1024px;
            margin: 0 auto;
        }
        ul {
            padding: 0;
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                transition: all .2s ease;
                width: 20%;
                a {
                    @include txt-heading($color-light);
                    text-decoration: none;
                    font-size: 100%;
                    margin: 0 15px;
                    cursor: pointer;
                    height: $height-menu-item;
                    line-height: $height-menu-item;
                    display: inline-block;
                    padding: 0 10px;
                    position: relative;
                    cursor: pointer;
                    z-index: 2;
                    &.active {
                        cursor: default;
                    }
                    &:after {
                        content: "";
                        display: inline-block;
                        border-bottom: 2px solid rgba(white, .5);
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -50%;
                        width: 100%;
                        transition: all .2s ease;
                        transform: scale(0, 1);
                    }
                    &:hover,
                    &.active {
                        &:after {
                            transform: scale(1, 1);
                        }
                    }
                }
            }
        }
    }
    &.docked {
        position: fixed;
        animation: slideInDown .3s ease;
        transform: translateY(0px);
        // @include header-gradient-1;
        background-color: rgba(white, .7);
        .logo-container {
        }
        .varazskez-logo {
            display: block;
            transition: none;
            animation: none;
            width: $logo-size-small;
            height: $logo-size-small;
        }
        .site-nav {
            ul {
                li {
                    &:nth-child(2) {
                        transform: translate3d(-40px, 0, 0);
                    }
                    &:nth-child(3) {
                        transform: translate3d(40px, 0, 0);
                    }
                    a {
                        color: $color-martinique;
                    }
                }
            }
        }
    }
}
