#home {
    background-color: blue;
    height: 300px;
}

#services {
    background-color: purple;
    height: 300px;
}

#about {
    background-color: red;
    height: 300px;
}

#contact {
    background-color: orange;
    height: 300px;
}
